<p>
  <strong>Adress:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>
<p>
  <strong>Descriptions:</strong>
  <%= @listing.description %>
</p>
<p>
  <strong>Last modified:</strong>
  <%= @listing.time_stamp %>
</p>
<h2>Comments</h2>
<%= render @article.comments %>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', listings_path %>|
<%= link_to 'Edit', edit_listing_path(@listing) %> |
