<%= form_for @listing do |f| %>

  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@listing.errors.count, "error") %> prohibited
        this listing from being saved:
      </h2>
      <ul>
        <% @listing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.number_field :price, :class => 'text_field', :step => 'any'%>
  </p>
 <p>
   <%= f.label :description %><br>
   <%= f.text_area :description %>
 </p>

  <p>
    <%= f.submit :time_stamp, :value => Time.now.getutc%>
  </p>

<% end %>
