<%= form_for :user do |f| %>
  <p>
    <%= f.label :userName %><br>
    <%= f.text_field :userName %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.text_area :password %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
